In [ ]:
import numpy as np
import matplotlib as plt
import pandas as pd

In [ ]:
df = pd.read_csv(r'C:\Users\Manas\Desktop\Data Analytics Internship Fouses\Cases1.csv')

In [ ]:
print(df)

           Country  ConfirmedCases  Deaths  Recovered   Active
0              USA         7833763  217738    5025193  2590832
1            India         6903812  106521    5903207   894084
2           Brazil         5029539  149034    4414564   465941
3           Russia         1260112   22056    1002329   235727
4            Spain          884381   32688       7015   844678
5             Peru          838614   33098     728216    77300
6           Mexico          804488   83096     583603   137789
7           France          671638   32521     100306   538811
8               UK          561815   42592        135   519088
9             Iran          488236   27888     399300    61048
10           Chile          476016   13167     448710    14139
11           Italy          338398   36083     236363    65952
12    Saudi Arabia          338132    4972     323769     9391
13          Turkey          330753    8667     290352    31734
14        Pakistan          316934    6544     302375     8015
15         Germany          315514    9667     269618    36229
16          Canada          175559    9557     147508    18494
17         Belgium          137868   10108          1   127760
18           Qatar          127394     218     124327     2849
19  Mainland China           85500    4634      80666      200

In [ ]:
print("The country with the higgest number of cases is :- \n",df.max())

The country with the higgest number of cases is :-
 Country                USA
Confirmed Cases    7833763
Deaths              217738
Recovered          5903207
Active             2590832
dtype: object

In [ ]:
x = df['ConfirmedCases']

y = df['Deaths']

z = df['Recovered']

In [ ]:
ratio = x/y
df["Ratio"]=ratio
print(df)

           Country  ConfirmedCases  Deaths  Recovered   Active       Ratio
0              USA         7833763  217738    5025193  2590832   35.977932
1            India         6903812  106521    5903207   894084   64.811746
2           Brazil         5029539  149034    4414564   465941   33.747595
3           Russia         1260112   22056    1002329   235727   57.132390
4            Spain          884381   32688       7015   844678   27.055219
5             Peru          838614   33098     728216    77300   25.337301
6           Mexico          804488   83096     583603   137789    9.681429
7           France          671638   32521     100306   538811   20.652440
8               UK          561815   42592        135   519088   13.190623
9             Iran          488236   27888     399300    61048   17.507028
10           Chile          476016   13167     448710    14139   36.152199
11           Italy          338398   36083     236363    65952    9.378322
12    Saudi Arabia          338132    4972     323769     9391   68.007241
13          Turkey          330753    8667     290352    31734   38.162340
14        Pakistan          316934    6544     302375     8015   48.431235
15         Germany          315514    9667     269618    36229   32.638254
16          Canada          175559    9557     147508    18494   18.369677
17         Belgium          137868   10108          1   127760   13.639493
18           Qatar          127394     218     124327     2849  584.376147
19  Mainland China           85500    4634      80666      200   18.450583

In [ ]:
print("Country with the highest Ratio of Total Cases to Deaths is:- ")
print(df[df.Ratio== df.Ratio.max()])

Country with the highest Ratio of Total Cases to Deaths is:-
   Country  ConfirmedCases  Deaths  Recovered  Active       Ratio
18   Qatar          127394     218     124327    2849  584.376147

In [ ]:
recovered_ratio = x/z
df["Ratio2"]=recovered_ratio

In [ ]:
print("Country with highest Ratio of Confirmed Cases to Patients recovered is:- ")
print(df[df.Ratio2== df.Ratio2.max()])

Country with highest Ratio of Confirmed Cases to Patients recovered is:-
    Country  ConfirmedCases  Deaths  Recovered  Active      Ratio    Ratio2
17  Belgium          137868   10108          1  127760  13.639493  137868.0

In [ ]:
print("country which has the lowest number of cases:- ")
print(df[df.ConfirmedCases == df.ConfirmedCases.min()])

country which has the lowest number of cases:-
           Country  ConfirmedCases  Deaths  Recovered  Active      Ratio  \
19  Mainland China           85500    4634      80666     200  18.450583

      Ratio2
19  1.059926

In [ ]:
print("The country which has the highest number of Active Cases is:- ")
print(df[df.Active == df.Active.max()])

The country which has the highest number of Active Cases is:-
  Country  ConfirmedCases  Deaths  Recovered   Active      Ratio    Ratio2
0     USA         7833763  217738    5025193  2590832  35.977932  1.558898